h1{
    text-align: center;
    text-shadow: 4px 2px 2px rgb(185, 182, 182);
}
h2{
    text-align: center;
    color: rgb(168, 163, 163);
}
.p1{
    text-align: center;
}
span{
    color: red;
}
img{
    display: flex;
    margin: 0 auto;
}
.p2{
    font-style: italic;
    color: rgb(179, 176, 176);
}
.p3{
    font-weight: bold;
}
.p2,.p3,.p4{
    text-indent: 2em;
}