@charset "utf-8";
h1,h2,h3,p,div,table { 
	margin:0px;
	padding:0px;	
}
body {
	margin: 0px;
	padding: 0px;
	color: #333;
	font-family: Arial,"微软雅黑","宋体";
	font-size: 62.5%;
	/*background-image: url(../images/wrapper.jpg);*/
	background-color: #CCC;
	background-position: top;
	background-repeat: repeat;
	height: auto;
}
#container {
	width: 960px;
	background: url(../images/content.png) repeat-y center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 1.4em;
	line-height: 2em;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #669900;
	}

#content {
	width:960px;
	margin:0px auto;	 	 
	/*background-image:url(../images/content_top.png); */
	background-repeat:no-repeat;
}
#contentBox {
	margin:0px auto;
	width:860px; 
}
.headline {
	font-size: 22px;
	font-weight: bold;
	color: #669900;
	text-align: center;
	padding-top: 30px;
}


#footer {
	width: 960px;
	height: 10px;
	margin:0px auto;
	color: #fff;
	text-align: center;
	background: url(../images/content_bottom.png) no-repeat;
}


