@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 13px;
	color: #333;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #EBEBEB;	/*border: 1px solid #CCC;*/
}
#top {

}
#main {
	background-image: url(nav_bg.jpg);
	background-repeat: repeat-x;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: auto;
}
#main_c {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: auto;
}

#sidebar {

}

#sidebar_t {
	background-image: url(sidebar_top.png);
	background-repeat: no-repeat;
	height: 99px;
	width: 182px; 
	margin-top:10px;
}
#sidebar_t p {
	
}
#sidebar_m {
	background-image: url(sidebar_m.png);
	background-repeat: repeat-y;
	height: auto;
	width: 182px;
	background-position: 100% 100%;
	background-color: #CCC;
}
#sidebar_m ul {
	width: 163px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 5px;
}

#sidebar_m li {
	
}
#sidebar_m li a {
	
}

#sidebar_b {
	background-image: url(sidebar_b.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 182px;
}


#main_body {
}

#main_nav {
	height: 40px;
	width: 760px;
	margin-top: 20px;
}

/*导航开始*/
#main_nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
#main_nav li {
	float:left;
	width:120px;
	margin:0;
	padding:0;
	text-align:center;
}
#main_nav li a {
		display: block;
	height: 100%;
	color: #FFF; 
	font-weight:bold;
	text-decoration: none;
	border-right: 1px solid #FFF;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#main_nav li a {
	background:url(bg2.jpg) repeat 0 0;
}
#main_content p, #main_content h3 {
	line-height: 30px;
	text-indent: 20px;
}

/*导航结束*/

#footer {

}
.clearboth {
}
